@font-face {
  font-family:"Yeseva One";
  src: url("../fonts/yeseva-one/YesevaOne-Regular_v2.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family:"Gentium";
  src: url("../fonts/Gentium-Basic/GenBasB.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:"Lato";
  src: url("../fonts/lato/Lato-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;}